<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.app.AppInfoMapper">
     <!-- 查询所有App状态 -->
     <select id="getDataList" resultType="DataDictionary">
         SELECT * FROM data_dictionary  WHERE typeCode = #{typeCode}
     </select>
     <!-- 三级分类 -->
     <select id="getclassfiy" resultType="AppCategory">
         SELECT * FROM app_category WHERE 
         <choose>
            <when test="parentId != null">parentId = #{parentId}</when>
            <otherwise>parentId IS NULL</otherwise>
         </choose>
     </select>
     <!-- app信息查询 -->
     <select id="getappinfo" resultType="AppInfo">
          SELECT a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,
         (SELECT devName FROM dev_user WHERE id = a.devId) as devName,a.status,
         (SELECT valueName FROM data_dictionary d WHERE  a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,a.flatformId,
         (SELECT valueName FROM data_dictionary d WHERE  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,a.categoryLevel1,
         (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel1) as categoryLevel1Name,a.categoryLevel2,
         (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel2) as categoryLevel2Name,a.categoryLevel3,
         (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel3) as categoryLevel3Name,a.downloads,a.onSaleDate,a.versionId,
         (SELECT v.versionNo FROM app_version v where v.id=a.versionId ) as versionNo
         FROM  app_info a
          <trim prefix="WHERE" prefixOverrides="AND">
              <if test="softwareName != null">AND softwareName LIKE CONCAT('%',#{softwareName},'%')</if>
              <if test="status != null">AND `status` = #{status}</if>
              <if test="flatformId != null">AND flatformId = #{flatformId}</if>
              <if test="categoryLevel1 != null">AND categoryLevel1 = #{categoryLevel1}</if>
              <if test="categoryLevel2 != null">AND categoryLevel2 = #{categoryLevel2}</if>
              <if test="categoryLevel3 != null">AND categoryLevel3 = #{categoryLevel3}</if>
          </trim>
          LIMIT #{currentPageNo},#{showPageCount}
     </select>
     <!-- 查询出总记录数 -->
     <select id="getcount" resultType="Integer">
         SELECT COUNT(1) FROM app_info
          <trim prefix="WHERE" prefixOverrides="AND">
              <if test="softwareName != null">AND softwareName LIKE CONCAT('%',#{softwareName},'%')</if>
              <if test="status != null">AND `status` = #{status}</if>
              <if test="flatformId != null">AND flatformId = #{flatformId}</if>
              <if test="categoryLevel1 != null">AND categoryLevel1 = #{categoryLevel1}</if>
              <if test="categoryLevel2 != null">AND categoryLevel2 = #{categoryLevel2}</if>
              <if test="categoryLevel3 != null">AND categoryLevel3 = #{categoryLevel3}</if>
          </trim>
     </select>
     <!-- 查询APK名称是否唯一  -->
     <select id="getAppInfoByAPK" resultType="AppInfo">
         SELECT * FROM app_info WHERE APKName = #{APKName}
     </select>
     <!-- 添加app信息 -->
     <insert id="addAppInfo">
         INSERT INTO app_info (softwareName,APKName,supportROM,interfaceLanguage,softwareSize,
                      devId,appInfo,status,flatformId,categoryLevel3,downloads,
                     createdBy,creationDate,categoryLevel1,categoryLevel2,logoPicPath,logoLocPath)
         VALUES(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{softwareSize},
                #{devId},#{appInfo},#{status},#{flatformId},#{categoryLevel3},#{downloads},#{createdBy},
                #{creationDate},#{categoryLevel1},#{categoryLevel2},#{logoPicPath},#{logoLocPath})
         
     </insert>
     <!-- id查询要修改的app信息 -->
     <select id="modifyAppInfo" resultType="AppInfo">
        SELECT i.*,(SELECT d.valueName FROM  data_dictionary d WHERE i.`status` = d.valueId and d.typeCode = "APP_STATUS") statusName FROM app_info i WHERE id = #{id}
     </select>
     <!-- 修改app信息 -->
     <update id="modifyAppInfosave">
         UPDATE app_info
         <trim prefix="SET" suffixOverrides="," suffix="WHERE id = #{id}">
              <if test="softwareName != null">softwareName=#{softwareName},</if>
              <if test="APKName != null">APKName=#{APKName},</if>
              <if test="supportROM != null">supportROM=#{supportROM},</if>
              <if test="interfaceLanguage != null">interfaceLanguage=#{interfaceLanguage},</if>
              <if test="softwareSize != null">softwareSize=#{softwareSize},</if>
              <if test="devId != null">devId=#{devId},</if>
              <if test="downloads != null">downloads=#{downloads},</if>
              <if test="appInfo != null">appInfo=#{appInfo},</if>
              <if test="status != null">status=#{status},</if>
              <if test="flatformId != null">flatformId=#{flatformId},</if>
              <if test="categoryLevel3 != null">categoryLevel3=#{categoryLevel3},</if>
              <if test="categoryLevel1 != null">categoryLevel1=#{categoryLevel1},</if>
              <if test="categoryLevel2 != null">categoryLevel2=#{categoryLevel2},</if>
              <if test="logoPicPath != null">logoPicPath=#{logoPicPath},</if>
              <if test="logoLocPath != null">logoLocPath=#{logoLocPath},</if>
              <if test="modifyBy != null">modifyBy=#{modifyBy},</if>
              <if test="modifyDate != null">modifyDate=#{modifyDate},</if>
         </trim>
     </update>
     <!-- 更新APP信息的版本id -->
     <update id="updateAppInfo">
         UPDATE app_info SET versionId = #{versionId} WHERE id = #{id}
     </update>
</mapper>